html,body
{
	height:100%;
	margin:0;
	padding:0;
	overflow:hidden;
	background-image: url(assets/59H-from-gratisography1.jpg);
}

.img
{
	padding-top:10%;
	height:92%;
}

.box {
  position:relative;
  color: #fff;
  transition: 1s;
  border: 1px solid transparent;
  -webkit-transition:1s;
}

.box:before, .box:after {
  width: 100%;
  height:100%;
  z-index: 3;
  content:'';
  position: absolute;
  top:0;
  left:0;
  box-sizing: border-box;
  -webkit-transform: scale(0);
  transition: 1s;
}

.skill
{
	float:left;
	width:30%;
	margin-left:15%;
	text-align:left;
	padding:10px;
}

.skill:before {
  border-bottom: 2px solid #FFF;
  border-left: 2px solid #FFF;
  -webkit-transform-origin: 0 100%;
}

.skill:after {
  border-top: 2px solid #FFF;
  border-right: 2px solid #FFF;
  -webkit-transform-origin: 100% 0%;
}

.hob
{
	width:30%;
	float:right;
	text-align:right;
	margin-right:15%;
	margin-top:13%;
	padding:10px;
	
}

.hob:before {
  border-bottom: 2px solid #FFF;
  border-left: 2px solid #FFF;
  -webkit-transform-origin: 100% 0%;
}

.hob:after {
  border-top: 2px solid #FFF;
  border-right: 2px solid #FFF;
  -webkit-transform-origin: 0% 100%;
}

.box:hover:after, .box:hover:before {
  -webkit-transform: scale(1);
}


@media only screen and (max-width: 800px) {
	body{
		overflow:auto;
	}
	.box {
		font-size:10px;
	}
	.skill
	{
		margin-top:10%;
	}
	.hob
	{
		margin-right:15%;
		margin-top:10%;
	}
}
	
