@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,600;1,400&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,400&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --primary: #2fcc41;
  --background: #121324;
}

html,
.section-container {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", cursive;
  letter-spacing: 0.5px;
  line-height: 1.4;
  font-size: 16px;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background: var(--background);
  color: #fff;
  overflow: hidden;
  display: flex;
  font-weight: 200;
  /* flex-direction: row-reverse; */
}

a {
  color: #fff;
  text-decoration: none;
}

[text] {
  /* font-family: "Open Sans", sans-serif; */
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 300;
}

[display] {
  font-family: "Bungee Shade", cursive;
}

[cursive] {
  font-family: "Dancing Script", cursive;
  font-size: 1.2em;
}

section {
  border-bottom: 1px solid #222342;
}

.section-container {
  /* overflow: auto; */
  flex: 100%;
  -ms-overflow-style: none; /* Edge, Internet Explorer */
  scrollbar-width: none; /* Firefox */
  overflow-y: scroll;
}

.section-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.nav-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  width: 240px;
  position: relative;
  font-family: "Dancing Script", cursive;
  font-size: 1.2em;
}

.nav-scroll,
.nav-scroll-bg {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 4px;
  height: 0px;
  background-color: var(--primary);
}

.nav-scroll-bg {
  height: 100%;
  background-color: #222342;
}

.sitename {
  color: #fff;
  /* margin: 0 auto;
  text-align: center; */
}

.menu {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu a {
  color: #fff;
  text-decoration: none;
  margin: 10px 0;
  display: block;
  font-size: 1.1em;
}

.menu a:hover {
  color: var(--primary);
  transition: all 0.2s ease-in;
}

.menu.menu-popup {
  position: absolute;
  right: 8px;
  top: 60px;
  background-color: #100f1c;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 4px;
  z-index: 5;
  border: 1px solid;
}

.menu.menu-popup li {
  margin: 0;
  min-width: 100px;
  text-align: center;
}
.menu.menu-popup li a {
  padding: 4px 0;
  margin: 2px 0;
}

.menu-sm {
  display: none;
}

.menu-sm input {
  display: block;
  width: 30px;
  height: 32px;
  position: absolute;
  top: 0;
  right: 15px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

.menu-sm span {
  display: block;
  width: 26px;
  height: 3px;
  margin: 5px 0;
  position: relative;
  background: #fff;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

.menu-sm input:checked ~ span {
  background-color: #01b6f3;
}

.menu-sm input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #fff;
}

.menu-sm input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.menu-sm input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
  transform-origin: 56% 0%;
}

.menu-sm input:checked ~ span:nth-last-child(1) {
  transform-origin: 80% 50%;
}


.hero {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding: 0 10%;
}

.logo-container {
  display: block;
  border-radius: 100%;
  width: 400px;
  height: 400px;
  position: absolute;
  background: #fff;
  top: 15%;
  right: 10%;
  opacity: 0.2;
}

.title {
  font-size: 3em;
  font-weight: 900;
  color: var(--primary);
  margin-bottom: 12px;
}

.message {
  font-size: 1.2em;
}

.social-media {
  display: flex;
}

.social-media a {
  text-decoration: none;
  margin: 20px 20px 0 0;
}

.social-media a:hover svg {
  fill: var(--primary);
  transition: all 0.2s ease-in;
}

.social-media svg {
  fill: #fff;
  width: 16px;
  height: 16px;
}

#showMessage {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #424250;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 16px;
  margin: 0 0 4px;
  position: fixed;
  z-index: 1;
  right: 10px;
  bottom: 10px;
}

#showMessage.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 10px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 10px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 10px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 10px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

.scroll-arrow {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.scroll-arrow span {
  display: block;
  width: 12px;
  height: 12px;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}

.scroll-arrow span:nth-child(2) {
  animation-delay: -0.2s;
}

.scroll-arrow span:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}

.h-full {
  height: 100vh;
}

.pw-common {
  padding-left: 10%;
  padding-right: 10%;
}

.flex {
  display: flex;
}

#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  line-height: 1.75;
}

.align-center {
  align-items: center;
}

.display {
  position: absolute;
  right: 30px;
  top: 0;
  /* transform: rotate(-90deg); */
  margin: 0 auto;
  font-size: 100pt;
  color: #ffffff36;
  font-family: "Bungee Shade", cursive;
  user-select: none;
  z-index: -1;
}

.section-common {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/*********************** WORKS **************************/

#works {
}
/* 
.work-carousel {
  display: flex;
  gap: 8px;
}

.work__card {
  width: 250px;
  background-color: #1e293b;
  border: 1px solid #121324;
  border-radius: 6px;
  color: #fff;
  text-decoration: none;
}

.work__card-image {
  width: 100%;
  object-fit: cover;
  height: 250px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  display: block;
}

.work__card-info {
  font-size: 14px;
  padding: 14px;
}

.work__card-info p {
  margin: 0 0 6px;
  font-size: 1.25em;
  font-weight: 500;
}

.work__card-info span {
  line-height: 1.6;
  font-size: 0.9em;
}
 */
.work__card-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  margin-top: 8px;
}

.work__card-tags span {
  padding: 4px 6px;
  font-weight: 500;
  border-radius: 6px;
  border: 1px solid var(--primary);
  font-size: 0.85em;
}

/*********************** CONTACT **************************/
.form-div {
  width: 100%;
}

#cForm {
  width: 500px;
}

#cForm > div {
  width: 100%;
}
button,
input,
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 14px;
  font-family: "Dancing Script", cursive;
  font-size: 1.1em;
  background-color: #222342c2;
  color: #fff;
  border: 2px solid #222342;
  transition: all 0.3s ease-in;
  border-radius: 4px;
  outline: none;
}

input:focus,
textarea:focus {
  border-color: var(--primary);
}

textarea {
  resize: none;
}

button {
  min-width: 100px;
  width: auto;
  cursor: pointer;
  margin-left: auto;
  display: block;
  background-color: #222342;
}

button:hover {
  border-color: var(--primary);
}

/************* COMMON CLASSES ***************/
.link {
  border-bottom: 1px dotted;
}

.b300 {
  font-weight: 300;
}

.b400 {
  font-weight: 400;
}

.b500 {
  font-weight: 500;
}

.b600 {
  font-weight: 600;
}

.flex-wrap {
  flex-wrap: wrap;
}

g {
  color: var(--primary);
}

r {
  color: #ff1038;
}

y {
  color: rgb(244, 255, 35);
}

o {
  color: #ff641c;
}

c {
  color: #01b6f3;
}

/*************** MEDIA QUERIES ***************/

@media only screen and (max-width: 1200px) {
  .title {
    flex: 100%;
    margin: 0;
  }
}

@media only screen and (max-width: 1200px) {
  .h-full {
    height: auto;
    min-height: 100vh;
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

@media only screen and (max-width: 1080px) {
  body {
    flex-direction: column;
  }

  .nav-bar {
    flex-direction: row;
    width: 100%;
    padding: 2% 5%;
    position: inherit;
  }

  ul.menu {
    flex-direction: row;
  }

  .menu > li {
    margin-left: 14px;
  }

  .menu a {
    font-size: 1em;
    margin: 0;
  }

  h1.display {
    font-size: 75pt;
  }

  #works ul {
    padding-left: 0;
  }
}

@media only screen and (max-width: 760px) {
  h1.display {
    font-size: 60pt;
  }

  #cForm {
    width: 100%;
  }

  #cForm textarea {
    height: 125px;
  }
}

@media only screen and (max-width: 540px) {
  .h-full {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .logo-container {
    width: 200px;
    height: 200px;
    top: 10%;
    right: 10%;
  }

  nav.nav-bar {
    padding: 16px 20px;
  }

  .title {
    font-size: 2em;
  }

  h1.display {
    position: relative;
    margin: 0;
    left: auto;
    right: auto;
    top: auto;
    font-size: 3em;
    margin-bottom: 16px;
  }

  #cForm {
    margin: 0 auto;
  }

  .menu-sm {
    display: block;
    margin-left: auto;
  }

  .menu {
    display: none;
  }
}
