
@import url(http://fonts.googleapis.com/css?family=Signika:600|Varela+Round);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font: normal 18px/22px "Varela Round", Open+Sans;
  height:100%;
  background-color: #ffffff;
  color: #2e2e2e;
}
p {
  margin: 20px 0;
}
a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

h3
{
	color:white;
}

.description, .some-related-articles {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
  padding-left:21px;
}
.summary {
  color: #d9dee2;
  margin-top: 20px;
  margin-bottom: 20px;
}

/*NAV BAR COMMON FOR ALL*/

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
  background-color: #FFFFFF;
}

.nav-bar li, .fixed-nav-bar a { 
  height: 50px;
  line-height: 50px;
}
.menu {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
}
.menu-items a:hover, .menu-items a:target {
  color: #ffffff;
  background-color:#474747;

  
}
.menu-items {
  display: inline-block;
  border-style:aqua
   
}
.sitename {
  display: inline-block;
  margin-right: 20px;
  margin-left: 10px;
}
a.sitename, a:visited.sitename {
  color: #474747;
}
.menu-items li {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
}
.menu-items a {
  text-decoration: none;
    color:#474747;
	padding:13px;
}
.show, .hide {
  display: none;
  padding-left: 15px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center left;
  color: #474747;
}


.show {
  background-image: url(assets/down-arrow-icon.png);
}
.hide {
  background-image: url(assets/up-arrow-icon.png);
}	

@media only screen and (max-width: 800px) {
  .menu { 
    position: relative;
    width: 100%;
  }
  .nav-bar {
  padding-top:10px;
  }
  .sitename {
    position: absolute;
    top: 0;
    left: 15px;
    margin-left: 0px;
  }
  .summary
  {
	  padding-top:20px;
	font-size:15px;  
  }
  .menu-items {
    display: none; 
    width: 100%;
    margin-top: 50px;
    background-color: #fff;
  }
  .menu-items li {
    display: block;
    text-align: center;
  }
  .show, .hide {  
    position: absolute;
    top: 0;
    right: 15px;
  }
  .show {
    display: inline-block;
  }
  .hide {
    display: none;
  }
  #menu:target .show {
    display: none;
  }
  #menu:target .hide, #menu:target .menu-items {
    display: inline-block;
  }
}

@media only screen and (max-width: 220px) {
  .sitename, .show, .hide {
    font-size: 14px;
  }
}

